<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317148951049-m8uphuugbegp6im5h84r4j27oo6fuovp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317148951049-m8uphuugbegp6im5h84r4j27oo6fuovp</string>
	<key>API_KEY</key>
	<string>AIzaSyB3nhwmroOXiDMgChe2c5mHMjNaPcMisCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>317148951049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.easyongapp</string>
	<key>PROJECT_ID</key>
	<string>easy-ong</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-ong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317148951049:ios:3bd26a3e7d7c83ad20bed8</string>
</dict>
</plist>